.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
}

.footer a svg {
    width: 26px;
    height: auto;
    margin-left: 10px;

}