.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  position: sticky;
  top: 0;
  background-color: $bg;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

/* Search */
.navbar .searchButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $bgSoft;
  color: $textSoft;
  padding: 5px;
  border-radius: 10px;
}

.navbar .icon svg {
  fill: $text;
  width: 20px;
  height: auto;
}

/* Logo */
.navbar .logo {
  font-weight: bold;
  font-size: 24px;

}