<div class="footer">
    <div class="footerLinks">
        <a href="/">lama dev</a> |
        <a href="/categories">categories</a> |
        <a href="/sitemap.xml">sitemap</a>

    </div>
    <div class="social">
        <a href="#" aria-level="">
            {{ partial "functions/get_svg.html" "images/icons/facebook.svg" }}
        </a>
        <a href="#" aria-level="">
            {{ partial "functions/get_svg.html" "images/icons/discord.svg" }}
        </a>
        <a href="#" aria-level="">
            {{ partial "functions/get_svg.html" "images/icons/telegram.svg" }}
        </a>
    </div>
</div>